<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="..\static\images\logo(1).png" type="image/x-icon">
    <link rel="stylesheet" href="..\static\CSS\STYLE.CSS">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <a href="#"><img class="logo" src="../static/images/logo(1).png"></a>
        <h3 class="smartroute"><a href="#">SMARTROUTE</a></h3>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
                <a href="#"><img src="../static/images/moon.png" id="icon"></a>
            </ul>
        </nav>
    </header>
<main>
<div class="register">
    <div class="login">
        <h2>REGISTER</h2>
        <form action="/register" method="POST">
            <div class="input-group">
                <label for="email">G-mail</label>
                <input class="inputbox" type="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="username">USERNAME</label>
                <input class="inputbox" type="text" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input class="inputbox" type="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirm Password</label>
                <input class="inputbox" type="password" name="confirm_password" required>
            </div>
            <button type="submit">Register</button>
            <div class="more">
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>
</div>
</main>
<script>
    var icon = document.getElementById("icon");
    icon.onclick = function() {
        document.body.classList.toggle("darktheme");
        if (document.body.classList.contains("darktheme")) {
            icon.src = "../static/images/moon.png";
        } else {
            icon.src = "../static/images/sun.png";
        }
    }
</script>
</body>
</html>
